$base-font-size: 20;
$backgroundColor: #e8efff;
$cardBackgroundColor: #d9e2fc;
$mainFontColor: #3f3f41;
$h1Color: #39393A;
$h2Color: #343434;
$shadowColor: #272736;
$borderColor: #272736;

@function rem-calc($size) {
  $remSize: $size / $base-font-size;
  @return #{$remSize}rem;
}

* {
  box-sizing: border-box;
}

body {
  background-color: $backgroundColor;
  background-repeat: no-repeat;
  font-family: "Alegreya", serif;
  color: $mainFontColor;
}

h1 {
  color: $h1Color;
}

h2 {
  font-family: "Alegreya Italic", serif;
  color: $h2Color;
}

p, ul {
  font-size: rem-calc(25);
}

@font-face {
  font-family: "Titan One";
  src: url("/src/resources/fonts/TitanOne.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Patua One";
  src: url("/src/resources/fonts/PatuaOne.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Alegreya";
  src: url("/src/resources/fonts/Alegreya.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Alegreya Italic";
  src: url("/src/resources/fonts/Alegreya-Italic.ttf") format("truetype");
  font-style: italic;
  font-weight: normal;
}
