@use 'styles/theme/index' as *;

:root {
    --bc-font-size-default: 22px;

    --bc-transform-scale-default: 1.1;
    --bc-transition-duration-default: .2s;
}

* {
    box-sizing: border-box;
    text-decoration: none;
    margin: 0;

    &::-webkit-scrollbar {
        display: none;
        width: 0;
    }
}

or, ul {
    list-style-type: none;
    padding-inline-start: 0;
}

body {
    margin: 0;
    background-repeat: no-repeat;

    font-family: "Alegreya", serif;
    color: var(--bc-text-default-color);
    font-size: var(--bc-font-size-default);
}

router-outlet {
    display: none;
}

[role='button'] {
    cursor: pointer;
}

