@import "../../../../../../styles";

.header {
    display: flex;
    gap: var(--bc-gap-12);
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background-color: var(--bc-primary-color);
    padding: var(--bc-padding-8) var(--bc-padding-12);

    @media (max-width: 720px) {
        flex-direction: column;
    }

    &__logo {
        display: flex;

        font-family: "Titan One", cursive;
        text-align: center;
        color: white;

        .logo-name {
            color: var(--bc-light-accent-color);
            white-space: nowrap;
        }
    }

    &__navigation {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        .navigation__links {
            display: flex;
            gap: var(--bc-gap-16);
            background-color: var(--bc-primary-color);

            .links__item {
                text-transform: uppercase;
                transition: .2s;

                @media (hover: hover) {
                    &:hover {
                        transform: scale(1.1);

                        .link {

                        }
                    }
                }

                .link {
                    font-family: "Patua One", sans-serif;
                    font-size: 22px;
                    color: var(--bc-light-accent-color);
                }
            }
        }
    }
}
