<header class="header">
    <a
        class="header__logo"
        routerLink="home"
    >
        <h1 class="logo-name bc-h">SSE-programmer</h1>
    </a>
    <nav class="header__navigation">
        <ul class="navigation__links">
            @for (route of navigationRoutes; track $index) {
                <li class="links__item">
                    <a
                        class="link"
                        [routerLink]="route.link"
                        routerLinkActive="active"
                    >
                        {{ route.title }}
                    </a>
                </li>
            }
        </ul>
    </nav>
</header>
