:root {
    --bc-white-color: #FFFFFF;

    --bc-border-default-color: #272736;
    --bc-border-hover-color: #474756;

    --bc-shadow-default-color: #272736;

    --bc-primary-color: #222231;
    --bc-middle-primary-color: #272736;
    --bc-light-primary-color: #44445e;
    --bc-ultra-light-primary-color: #686893;

    --bc-accent-color: #4d4dc8;
    --bc-light-accent-color: #d4d4d5;

    --bc-gray-default-color: #9A9A9A;
    --bc-gray-middle-color: #D9D9D9;
    --bc-gray-light-color: #F5F5F5;

    --bc-error-color: #FF3F3F;

    --bc-bg-light-color: #f8ffff;
    --bc-bg-middle-color: #34344e;
    --bc-bg-primary-color: var(--bc-primary-color);
    --bc-bg-modals-color: #f8ffffdd;
    --bc-bg-modals-wrapper-color: #34344e22;
    --bc-bg-skill-tags-color: #732031;
    --bc-bg-error-color: #FFD6DE;

    --bc-text-default-color: var(--bc-primary-color);
    --bc-text-middle-color: var(--bc-middle-primary-color);
    --bc-text-light-color: var(--bc-light-primary-color);

    --bc-modals-box-shadow: 2px 2px 10px 0 rgba(0, 0, 0, .5), -2px -2px 10px 5px rgba(255, 255, 255, .5);
}

.bc-theme-blue {
    --bc-border-default-color: #272736;
    --bc-border-hover-color: #2e2edf;

    --bc-shadow-default-color: #272736;

    --bc-primary-color: #222231;
    --bc-middle-primary-color: #272736;
    --bc-light-primary-color: #44445e;
    --bc-ultra-light-primary-color: #686893;

    --bc-accent-color: #4d4dc8;
    --bc-light-accent-color: #e7e7e8;

    --bc-bg-primary-color: var(--bc-primary-color);
    --bc-bg-middle-color: #34344e;
    --bc-bg-light-color: #f8ffff;
    --bc-bg-modals-color: #f8ffffdd;

    --bc-text-default-color: var(--bc-primary-color);
    --bc-text-middle-color: var(--bc-middle-primary-color);
    --bc-text-light-color: var(--bc-light-primary-color);
}

.bc-theme-red {
    --bc-border-default-color: #362727;
    --bc-border-hover-color: #d54040;

    --bc-shadow-default-color: #362727;

    --bc-primary-color: #371e1e;
    --bc-middle-primary-color: #362727;
    --bc-light-primary-color: #6a4242;
    --bc-ultra-light-primary-color: #ae7e7e;

    --bc-accent-color: #c84d4d;
    --bc-light-accent-color: #edecec;

    --bc-bg-primary-color: var(--bc-primary-color);
    --bc-bg-middle-color: #502c2c;
    --bc-bg-light-color: #fff8f8;
    --bc-bg-modals-color: #fff8f8dd;
    --bc-bg-skill-tags-color: #202e73;

    --bc-text-default-color: var(--bc-primary-color);
    --bc-text-middle-color: var(--bc-middle-primary-color);
    --bc-text-light-color: var(--bc-light-primary-color);
}

.bc-theme-yellow {
    --bc-border-default-color: #363627;
    --bc-border-hover-color: #d5d536;

    --bc-shadow-default-color: #363627;

    --bc-primary-color: #282900;
    --bc-middle-primary-color: #353627;
    --bc-light-primary-color: #5d5e44;
    --bc-ultra-light-primary-color: #b6b897;

    --bc-accent-color: #c8c64d;
    --bc-light-accent-color: #efefee;

    --bc-bg-primary-color: var(--bc-primary-color);
    --bc-bg-middle-color: #404205;
    --bc-bg-light-color: #fffffa;
    --bc-bg-modals-color: #fffffadd;

    --bc-text-default-color: var(--bc-primary-color);
    --bc-text-middle-color: var(--bc-middle-primary-color);
    --bc-text-light-color: var(--bc-light-primary-color);
}

.bc-theme-green {
    --bc-border-default-color: #2a3627;
    --bc-border-hover-color: #4cd829;

    --bc-shadow-default-color: #293627;

    --bc-primary-color: #0e2500;
    --bc-middle-primary-color: #2a3627;
    --bc-light-primary-color: #495e44;
    --bc-ultra-light-primary-color: #9cb894;

    --bc-accent-color: #64c84d;
    --bc-light-accent-color: #f0f1f0;

    --bc-bg-primary-color: var(--bc-primary-color);
    --bc-bg-middle-color: #1a4504;
    --bc-bg-light-color: #fbfff8;
    --bc-bg-modals-color: #fbfff8dd;

    --bc-text-default-color: var(--bc-primary-color);
    --bc-text-middle-color: var(--bc-middle-primary-color);
    --bc-text-light-color: var(--bc-light-primary-color);
}

.bc-theme-black {
    --bc-border-default-color: #c6c6c6;
    --bc-border-hover-color: #ffffff;

    --bc-shadow-default-color: #9e9e9e;

    --bc-primary-color: #000000;
    --bc-middle-primary-color: #2c2c2c;
    --bc-light-primary-color: #494949;
    --bc-ultra-light-primary-color: #9f9f9f;

    --bc-accent-color: #000000;
    --bc-light-accent-color: #ececec;

    --bc-bg-primary-color: var(--bc-primary-color);
    --bc-bg-middle-color: #222222;
    --bc-bg-light-color: #121212;
    --bc-bg-modals-color: #020202dd;
    --bc-bg-skill-tags-color: #454545;

    --bc-text-default-color: #fafafa;
    --bc-text-middle-color: #bfbfbf;
    --bc-text-light-color: #a6a6a6;

    * {
        box-shadow: none !important;
    }
}

.bc-bg-light-color {
    background-color: var(--bc-bg-light-color);
}

.bc-bg-middle-color {
    background-color: var(--bc-bg-middle-color);
}

.bc-bg-primary-color {
    background-color: var(--bc-bg-primary-color);
}

.bc-bg-error-color {
    background-color: var(--bc-bg-error-color);
}

.bc-white-color {
    color: var(--bc-white-color);
}

.bc-text-default-color {
    color: var(--bc-text-default-color);
}

.bc-text-middle-color {
    color: var(--bc-text-middle-color);
}

.bc-text-light-color {
    color: var(--bc-text-light-color);
}

.bc-border-default-color {
    color: var(--bc-border-default-color);
}

.bc-shadow-default-color {
    color: var(--bc-shadow-default-color);
}

.bc-primary-color {
    color: var(--bc-primary-color);
}

.bc-middle-primary-color {
    color: var(--bc-middle-primary-color);
}

.bc-light-primary-color {
    color: var(--bc-light-primary-color);
}

.bc-accent-color {
    color: var(--bc-accent-color);
}

.bc-light-accent-color {
    color: var(--bc-light-accent-color);
}

.bc-gray-default-color {
    color: var(--bc-gray-default-color);
}

.bc-gray-middle-color {
    color: var(--bc-gray-middle-color);
}

.bc-gray-light-color {
    color: var(--bc-gray-light-color);
}

.bc-error-color {
    color: var(--bc-error-color);
}
