@font-face {
    font-family: "Titan One";
    src: url("/assets/fonts/TitanOne.ttf") format('truetype');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Patua One";
    src: url("/assets/fonts/PatuaOne.ttf") format('truetype');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Alegreya";
    src: url("/assets/fonts/Alegreya.ttf") format('truetype');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Alegreya";
    src: url("/assets/fonts/Alegreya-Italic.ttf") format('truetype');
    font-style: italic;
    font-weight: normal;
}
