@font-face {
    font-family: "Titan One";
    src: url("/assets/fonts/TitanOne.ttf") format('truetype');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Patua One";
    src: url("/assets/fonts/PatuaOne.ttf") format('truetype');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Alegreya";
    src: url("/assets/fonts/Alegreya.ttf") format('truetype');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Alegreya";
    src: url("/assets/fonts/Alegreya-Italic.ttf") format('truetype');
    font-style: italic;
    font-weight: normal;
}

h1.bc-h,
h2.bc-h,
h3.bc-h,
h4.bc-h,
h5.bc-h {
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
}

h1.bc-h {
    font-size: 40px;
}

h2.bc-h {
    font-size: 34px;
}

h3.bc-h {
    font-size: 28px;
}

h4.bc-h {
    font-size: 22px;
}

h5.bc-h {
    font-size: 18px;
}
