<main class="main">
  <div class="title">
    <h1>Blog</h1>
  </div>
  <div class="description">
    <p>How about keeping up with the latest developments with me? <strong>^^</strong></p>
  </div>
  <div class="posts">
    <div class="post">
      <div class="infoLeft">
        <div class="title">
          <h1>This site</h1>
        </div>
        <div class="description">
          <p>My personal portfolio site and my first indie project. The following stack was used: SASS, HTML5, Java 8 EE, AngularJS, PostgreSQL.</p>
        </div>
      </div>
      <div class="infoRight">
        <div class="image"></div>
        <div class="createDate">
          <p class="title">Create date: </p>
          <p class="value"> January 2022</p>
        </div>
      </div>
    </div>

    <div class="post">
      <div class="infoLeft">
        <div class="title">
          <h1>This site</h1>
        </div>
        <div class="description">
          <p>My personal portfolio site and my first indie project. The following stack was used: SASS, HTML5, Java 8 EE, AngularJS, PostgreSQL.</p>
        </div>
      </div>
      <div class="infoRight">
        <div class="image"></div>
        <div class="createDate">
          <p class="title">Create date: </p>
          <p class="value"> January 2022</p>
        </div>
      </div>
    </div>

    <div class="post">
      <div class="infoLeft">
        <div class="title">
          <h1>This site</h1>
        </div>
        <div class="description">
          <p>My personal portfolio site and my first indie project. The following stack was used: SASS, HTML5, Java 8 EE, AngularJS, PostgreSQL.</p>
        </div>
      </div>
      <div class="infoRight">
        <div class="image"></div>
        <div class="createDate">
          <p class="title">Create date: </p>
          <p class="value"> January 2022</p>
        </div>
      </div>
    </div>
  </div>
</main>
