.bc-h-auto {
    height: auto;
}

.bc-h-full {
    height: 100%;
}

.bc-h-screen {
    height: 100vh;
}

.bc-h-fit {
    height: fit-content;
}

.bc-h-min {
    height: min-content;
}

.bc-h-max {
    height: max-content;
}
