.bc-max-w-full {
    max-width: 100%;
}

.bc-max-w-screen {
    max-width: 100vw;
}

.bc-max-w-fit {
    max-width: fit-content;
}

.bc-max-w-min {
    max-width: min-content;
}

.bc-max-w-max {
    max-width: max-content;
}
