.bc-max-h-full {
    max-height: 100%;
}

.bc-max-h-screen {
    max-height: 100vh;
}

.bc-max-h-fit {
    max-height: fit-content;
}

.bc-max-h-min {
    max-height: min-content;
}

.bc-max-h-max {
    max-height: max-content;
}
