.bc-min-w-auto {
    min-width: auto;
}

.bc-min-w-full {
    min-width: 100%;
}

.bc-min-w-screen {
    min-width: 100vw;
}

.bc-min-w-fit {
    min-width: fit-content;
}

.bc-min-w-min {
    min-width: min-content;
}

.bc-min-w-max {
    min-width: max-content;
}
