.bc-w-auto {
    width: auto;
}

.bc-w-full {
    width: 100%;
}

.bc-w-screen {
    width: 100vw;
}

.bc-w-fit {
    width: fit-content;
}

.bc-w-min {
    width: min-content;
}

.bc-w-max {
    width: max-content;
}
