:host {
    display: flex;
    flex-direction: column;
    gap: var(--bc-gap-24);
}

.avatar {
    border-radius: 100%;
    box-shadow: 0 0 20px var(--bc-shadow-default-color), 0 0 10px var(--bc-shadow-default-color) inset;
    overflow: hidden;
    transition: .5s;
    cursor: pointer;

    @media (hover: hover) {
        &:hover {
            box-shadow: 0 0 10px var(--bc-shadow-default-color), 0 0 20px var(--bc-shadow-default-color) inset;
            transform: scale(var(--bc-transform-scale-default));
        }
    }
}
