<div class="header">
    <img
        class="header__photo"
        ngSrc="/assets/images/home/photo1.png"
        width="200"
        height="200"
    >
    <div class="header__info-container">
        <h1 class="bc-h">Stanislav Stolbennikov</h1>
        <h2 class="text-middle-color bc-h">Software Engineer</h2>
        <!-- Контакты -->
        <!-- https://icons8.ru/icon/set/%D0%BB%D0%BE%D0%B3%D0%BE%D1%82%D0%B8%D0%BF%D1%8B/ios-glyphs -->
        <ul class="links">
            @for (link of contactLinks; track $index) {
                <li class="link-item">
                    <a
                        class="link"
                        [href]="link.link"
                        target="_blank"
                    >
                        <img
                            class="link__icon"
                            [ngSrc]="link.icon || ''"
                            [alt]="link.title"
                            width="50"
                            height="50"
                        ></a>
                </li>
            }
        </ul>
    </div>
</div>
<div class="rightSide">
    <div class="welcome">
        <p>Hi, I am very glad to see you!</p>
        <p>Here you can find out a little about me and contact me if necessary =)</p>
    </div>
    <div class="info">
        <div class="interests">
            <h1>Interests</h1>
            <ul>
                <li>Web application development</li>
                <li>Application software development</li>
            </ul>
        </div>
        <div class="education">
            <h1>Education</h1>
            <ul>
                <li>High school diploma, 2014
                    <p>Novosibirsk State University Higher College of Informatics</p>
                </li>
                <li>Diploma in System Software, 2021
                    <p>Siberian State University of Telecommunications and Information Sciences</p>
                </li>

            </ul>
        </div>
        <div class="workExperience">
            <h1>Work experience</h1>
            <ul>
                <li>OOO "Smart Consulting", Russia
                    <div class="position">
                        <p>[-- Junior Software Engineer --]</p>
                    </div>
                    <div class="employmentsDates">
                        <p><strong>Dates of employment:</strong> July 2021 - Until today</p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
