@import "../modules/styles/header";
@import "../modules/styles/footer";
@import "../modules/styles/global";

.main {
  display: flex;
  justify-content: center;
  width: 80%;
  margin: rem-calc(120) auto rem-calc(140);
  flex-wrap: wrap;

  .contacts {
    .title {
      text-align: center;
    }

    .links {
      display: flex;
      flex-wrap: wrap;

      .email, .instagram, .vk, .github {
        position: relative;
        width: 45%;
        min-width: 350px;
        height: rem-calc(160);
        border: $borderColor 2px dashed;
        margin: 10px 10px;
        padding: 10px 20px;
        flex: 1 1 auto;
        transition: 0.5s;

        &:hover {
          box-shadow: $shadowColor 0 0 10px inset;
          padding-top: 31px;

          p {
            margin-bottom: 0;
          }
        }

        h2 {
          text-align: center;
          margin-bottom: 0;
        }

        p {
          text-align: center;
          white-space: nowrap;
          margin-top: 0;
          transition: 0.5s;
        }
      }

      .email::after, .instagram::after, .vk::after, .github::after {
        content: "";
        opacity: 0.05;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        position: absolute;
        z-index: -1;
        transition: 0.5s;
      }

      .email:hover::after, .instagram:hover::after, .vk:hover::after, .github:hover::after {
        opacity: 0.8;
        background-color: $cardBackgroundColor;
        background-size: auto 30%;
        background-position: 50% 15%;
      }

      .email::after {
        background: url("../resources/images/contacts/email.png") center/auto 90% no-repeat;
      }

      .instagram::after {
        background: url("../resources/images/contacts/instagram.png") center/auto 90% no-repeat;
      }

      .vk::after {
        background: url("../resources/images/contacts/vk.png") center/auto 90% no-repeat;
      }

      .github::after {
        background: url("../resources/images/contacts/github.png") center/auto 90% no-repeat;
      }
    }
  }
}

@media (max-width: 600px) {
  .main {
    margin-top: rem-calc(320);

    .contacts {
      .links {
        flex-direction: column;
      }
    }
  }
}
