<main class="main">
  <div class="title">
    <h1>Contact me</h1>
  </div>
  <div class="description">
    <p>Do you want to share your feedback, offer a job or just contact me? Go for it! <strong>:3</strong></p>
  </div>
  <div class="contacts">
    <div class="links">
      <div class="email">
        <h2>My Email</h2>
        <p>sstolbennikov&#64;gmail.com</p>
      </div>
      <div
        class="instagram"
        (click)="redirect('https://www.instagram.com/sse.public/')"
      >
        <h2>My Instagram</h2>
        <p>sse.public</p>
      </div>
      <div
        class="vk"
        (click)="redirect('https://vk.com/stas1996ilcha')"
      >
        <h2>My VK</h2>
        <p>stas1996ilcha</p>
      </div>
      <div
        class="github"
        (click)="redirect('https://github.com/SSE-programmer')"
      >
        <h2>My Github</h2>
        <p>SSE-programmer</p>
      </div>
    </div>
  </div>
</main>
