$text-sizes: 8, 12, 14, 16, 18, 20, 22, 26, 34, 40;

:root {
    @each $text-size in $text-sizes {
        --bc-font-size-#{$text-size}: #{$text-size}px;
    }
}

@each $text-size in $text-sizes {
    .bc-text-#{$text-size} {
        font-size: var(--bc-font-size-#{$text-size});
    }
}
