.bc-text-left {
    text-align: left;
}

.bc-text-center {
    text-align: center;
}

.bc-text-right {
    text-align: right;
}

.bc-text-justify {
    text-align: justify;
}

.bc-text-start {
    text-align: start;
}

.bc-text-end {
    text-align: end;
}
