.bc-self-auto {
    align-self: auto;
}

.bc-self-start {
    align-self: flex-start;
}

.bc-self-end {
    align-self: flex-end;
}

.bc-self-center {
    align-self: center;
}

.bc-self-stretch {
    align-self: stretch;
}

.bc-self-baseline {
    align-self: baseline;
}
