.bc-items-start {
    align-items: flex-start;
}

.bc-items-end {
    align-items: flex-end;
}

.bc-items-center {
    align-items: center;
}

.bc-items-baseline {
    align-items: baseline;
}

.bc-items-stretch {
    align-items: stretch;
}
