$gaps: 4, 8, 12, 16, 18, 24, 32, 36, 48;

:root {
    @each $firstGap in $gaps {
        --bc-gap-#{$firstGap}: #{$firstGap}px;

        @each $secondGap in $gaps {
            --bc-gap-#{$firstGap}-#{$secondGap}: #{$firstGap}px #{$secondGap}px;
        }
    }
}

.bc-flex-row {
    flex-direction: row;
}

.bc-flex-row-reverse {
    flex-direction: row-reverse;
}

.bc-flex-col {
    flex-direction: column;
}

.bc-flex-col-reverse {
    flex-direction: column-reverse;
}

.bc-flex-1 {
    flex: 1;
}

.bc-flex-auto {
    flex: 1 1 auto;
}

.bc-shrink-0 {
    flex-shrink: 0;
}

@each $firstGap in $gaps {
    .bc-gap-#{$firstGap} {
        gap: var(--bc-gap-#{$firstGap});
    }

    @each $secondGap in $gaps {
        .bc-gap-#{$firstGap}-#{$secondGap} {
            gap: var(--bc-gap-#{$firstGap}-#{$secondGap});
        }
    }
}
