.bc-justify-start {
    justify-content: flex-start;
}

.bc-justify-end {
    justify-content: flex-end;
}

.bc-justify-center {
    justify-content: center;
}

.bc-justify-between {
    justify-content: space-between;
}

.bc-justify-around {
    justify-content: space-around;
}

.bc-justify-evenly {
    justify-content: space-evenly;
}

.bc-justify-stretch {
    justify-content: stretch;
}

.bc-justify-normal {
    justify-content: normal;
}
