:host {
    position: absolute;
    z-index: 400;
    animation: fade-in var(--bc-transition-duration-default) cubic-bezier(0.250, 0.460, 0.450, 0.940);
    background-color: var(--bc-bg-modals-color);
    backdrop-filter: blur(10px);
    box-shadow: var(--bc-modals-box-shadow);
    opacity: 1;
    pointer-events: none;

    &.closed {
        animation: fade-out var(--bc-transition-duration-default) cubic-bezier(0.250, 0.460, 0.450, 0.940);
    }
}

.tooltip {}

.arrow {
    position: absolute;
    z-index: -50;

    &::before {
        content: '';
        display: block;
        width: 0;
        border: 10px solid transparent;
        border-bottom: 10px solid var(--bc-border-default-color);
    }
}

:host([data-popper-placement^='top']) {
    .arrow {
        bottom: -20px;

        &::before {
            transform: rotate(180deg);
        }
    }
}

:host([data-popper-placement^='bottom']) {
    .arrow {
        top: -20px;
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fade-out {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

