:host {
    display: inline-flex;
    background-color: var(--bc-bg-middle-color);
    padding: var(--bc-padding-6) var(--bc-padding-8);
    width: fit-content;
    border-radius: var(--bc-border-radius-8);
    white-space: nowrap;

    font-size: var(--bc-font-size-16);
    color: var(--bc-light-accent-color);
}
