<header class="header">
    <nav
        id="header-navigation"
        class="navigation"
        [class.expanded]="expanded"
        (clickOutside)="closeMenu()"
    >
        <div class="navigation__logo">
            <a>SSE - programmer</a>
            <button
                class="burger-menu-button"
                (click)="switchNavbar()"
            ></button>
        </div>
        <ul class="navigation__links" (click)="closeMenu()">
            <li>
                <a routerLink="/home" routerLinkActive="active"> Home </a>
            </li>
            <li>
                <a routerLink="/projects" routerLinkActive="active">
                    Projects
                </a>
            </li>
            <li>
                <a routerLink="/blog" routerLinkActive="active"> Blog </a>
            </li>
            <li>
                <a routerLink="/contacts" routerLinkActive="active">
                    Contacts
                </a>
            </li>
        </ul>
    </nav>
</header>
