@import "global";

$footerBackgroundColor: #44445e;
$footerFontColor: #c0c0c0;

#footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: rem-calc(80);
  background-color: $footerBackgroundColor;
  font-family: "Patua One";
  p {
    color: $footerFontColor;
    text-align: center;
    font-size: rem-calc(25);
  }
}
