@import "global";

.main {
  display: flex;
  justify-content: center;
  width: 80%;
  margin: rem-calc(120) auto rem-calc(100);
  flex-wrap: wrap;

  .leftSide {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    min-width: 300px;
    text-align: center;
    margin: 0 100px 20px 100px;

    .photo {
      width: 200px;
      height: 200px;
      border-radius: 100%;
      overflow: hidden;
      margin: 1rem auto 1rem auto;
      background-image: url("../resources/images/home/photo.jpg");
      background-size: 100% 100%;
      box-shadow: 0px 0px 20px $shadowColor, 0px 0px 10px $shadowColor inset;
      transition: 0.5s;
    }

    .photo:hover {
      box-shadow: 0px 0px 30px $shadowColor, 0px 0px 15px $shadowColor inset;
      -webkit-transform-origin: center;
      transform: scale(1.1);
    }

    h1 {
      margin: 0 auto;
    }

    h2 {
      margin: 0 auto;
    }

    .links {
      list-style-type: none;
      margin: 15px 20px;
      padding: 0;

      li {
        display: inline;
        margin: 0 10px;


        img {
          width: 50px;
          height: auto;
          padding: 2px;
          transition: 0.3s;
        }

        img:hover {
          filter: drop-shadow(0px 0px 1px $shadowColor);
          -webkit-transform-origin: center;
          transform: scale(1.3);
        }

        img:active {
          filter: drop-shadow(0px 0px 5px $mainFontColor);
        }
      }
    }
  }

  .rightSide {
    display: flex;
    flex-grow: 2;
    flex-direction: column;
    margin: 0 auto;
    width: auto;

    .welcome {
      text-align: center;
      font-weight: bold;
      margin: 0 auto;
      width: auto;
      border-bottom: 2px solid;

      p {
        margin: 5px 20px;
      }
    }

    .info {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: start;
      margin: 0 auto;
      font-weight: bold;

      ul {
        padding: 0 22px;
        li {
          margin-bottom: 10px;
        }
      }

      .interests {
        margin: 0 auto;
        width: 30%;
        min-width: 500px;
        padding-left: 30px;

        ul {
          padding-left: 0;

          li {
            margin-bottom: 0;
            margin-left: 0;
            padding-left: 0;
            list-style: none;
          }

          li::before {
            content: '';
            display: inline-block;
            height: 20px;
            width: 20px;
            background-image: url("../resources/icons/idea.svg");
            background-size: contain;
            background-position: center;
            margin-right: 10px;
          }

          p {
            font-weight: normal;
            margin-top: 0;
          }
        }
      }

      .education {
        margin: 0 auto;
        width: 30%;
        min-width: 500px;
        padding-left: 30px;

        ul {
          padding-left: 0;

          li {
            margin-bottom: 0;
            margin-left: 0;
            padding-left: 0;
            list-style: none;
          }

          li::before {
            content: '';
            display: inline-block;
            height: 20px;
            width: 20px;
            background-image: url("../resources/icons/education.svg");
            background-size: contain;
            background-position: center;
            margin-right: 10px;
          }

          p {
            font-weight: normal;
            margin-top: 0;
          }
        }
      }

      .workExperience {
        margin: 0 auto;
        width: 30%;
        min-width: 500px;
        padding-left: 30px;

        ul {
          padding-left: 0;

          li {
            margin-bottom: 0;
            margin-left: 0;
            padding-left: 0;
            list-style: none;
          }

          li::before {
            content: '';
            display: inline-block;
            height: 20px;
            width: 20px;
            background-image: url("../resources/icons/work.svg");
            background-size: contain;
            background-position: center;
            margin-right: 10px;
          }
        }

        .employmentsDates {
          color: #4f4f50;

          p {
            font-weight: normal;
            margin-top: 0;

            strong {
              margin-right: 5px;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 600px) {
  .main {
    margin-top: rem-calc(320);

    .rightSide {
      display: flex;
      flex-grow: 2;
      flex-direction: column;


      .info {
        flex-direction: column;
      }
    }
  }
}
