body {
  background-color: #e8efff;
  font-family: Alegreya;
  box-sizing: border-box;
  color: #3f3f41;
}

h1 {
  color: #39393A;
}

h2 {
  font-family: "Alegreya Italic";
  color: #343434;
}

p, ul {
  font-size: 1.25rem;
}

@font-face {
  font-family: "Titan One";
  src: url("../resources/fonts/TitanOne.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Patua One";
  src: url("../resources/fonts/PatuaOne.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Alegreya";
  src: url("../resources/fonts/Alegreya.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Alegreya Italic";
  src: url("../resources/fonts/Alegreya-Italic.ttf") format("truetype");
  font-style: italic;
  font-weight: normal;
}
.main {
  display: flex;
  justify-content: center;
  width: 80%;
  margin: 6rem auto 5rem;
  flex-wrap: wrap;
}
.main .leftSide {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  min-width: 300px;
  text-align: center;
  margin: 0 100px 20px 100px;
}
.main .leftSide .photo {
  width: 200px;
  height: 200px;
  border-radius: 100%;
  overflow: hidden;
  margin: 1rem auto 1rem auto;
  background-image: url("../resources/images/home/photo.jpg");
  background-size: 100% 100%;
  box-shadow: 0px 0px 20px #272736, 0px 0px 10px #272736 inset;
  transition: 0.5s;
}
.main .leftSide .photo:hover {
  box-shadow: 0px 0px 30px #272736, 0px 0px 15px #272736 inset;
  -webkit-transform-origin: center;
  transform: scale(1.1);
}
.main .leftSide h1 {
  margin: 0 auto;
}
.main .leftSide h2 {
  margin: 0 auto;
}
.main .leftSide .links {
  list-style-type: none;
  margin: 15px 20px;
  padding: 0;
}
.main .leftSide .links li {
  display: inline;
  margin: 0 10px;
}
.main .leftSide .links li img {
  width: 50px;
  height: auto;
  padding: 2px;
  transition: 0.3s;
}
.main .leftSide .links li img:hover {
  filter: drop-shadow(0px 0px 1px #272736);
  -webkit-transform-origin: center;
  transform: scale(1.3);
}
.main .leftSide .links li img:active {
  filter: drop-shadow(0px 0px 5px #3f3f41);
}
.main .rightSide {
  display: flex;
  flex-grow: 2;
  flex-direction: column;
  margin: 0 auto;
  width: auto;
}
.main .rightSide .welcome {
  text-align: center;
  font-weight: bold;
  margin: 0 auto;
  width: auto;
  border-bottom: 2px solid;
}
.main .rightSide .welcome p {
  margin: 5px 20px;
}
.main .rightSide .info {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: start;
  margin: 0 auto;
  font-weight: bold;
}
.main .rightSide .info ul {
  padding: 0 22px;
}
.main .rightSide .info ul li {
  margin-bottom: 10px;
}
.main .rightSide .info .interests {
  margin: 0 auto;
  width: 30%;
  min-width: 500px;
  padding-left: 30px;
}
.main .rightSide .info .interests ul {
  padding-left: 0;
}
.main .rightSide .info .interests ul li {
  margin-bottom: 0;
  margin-left: 0;
  padding-left: 0;
  list-style: none;
}
.main .rightSide .info .interests ul li::before {
  content: "";
  display: inline-block;
  height: 20px;
  width: 20px;
  background-image: url("../resources/icons/idea.svg");
  background-size: contain;
  background-position: center;
  margin-right: 10px;
}
.main .rightSide .info .interests ul p {
  font-weight: normal;
  margin-top: 0;
}
.main .rightSide .info .education {
  margin: 0 auto;
  width: 30%;
  min-width: 500px;
  padding-left: 30px;
}
.main .rightSide .info .education ul {
  padding-left: 0;
}
.main .rightSide .info .education ul li {
  margin-bottom: 0;
  margin-left: 0;
  padding-left: 0;
  list-style: none;
}
.main .rightSide .info .education ul li::before {
  content: "";
  display: inline-block;
  height: 20px;
  width: 20px;
  background-image: url("../resources/icons/education.svg");
  background-size: contain;
  background-position: center;
  margin-right: 10px;
}
.main .rightSide .info .education ul p {
  font-weight: normal;
  margin-top: 0;
}
.main .rightSide .info .workExperience {
  margin: 0 auto;
  width: 30%;
  min-width: 500px;
  padding-left: 30px;
}
.main .rightSide .info .workExperience ul {
  padding-left: 0;
}
.main .rightSide .info .workExperience ul li {
  margin-bottom: 0;
  margin-left: 0;
  padding-left: 0;
  list-style: none;
}
.main .rightSide .info .workExperience ul li::before {
  content: "";
  display: inline-block;
  height: 20px;
  width: 20px;
  background-image: url("../resources/icons/work.svg");
  background-size: contain;
  background-position: center;
  margin-right: 10px;
}
.main .rightSide .info .workExperience .employmentsDates {
  color: #4f4f50;
}
.main .rightSide .info .workExperience .employmentsDates p {
  font-weight: normal;
  margin-top: 0;
}
.main .rightSide .info .workExperience .employmentsDates p strong {
  margin-right: 5px;
}

@media (max-width: 600px) {
  .main {
    margin-top: 16rem;
  }
  .main .rightSide {
    display: flex;
    flex-grow: 2;
    flex-direction: column;
  }
  .main .rightSide .info {
    flex-direction: column;
  }
}

/*# sourceMappingURL=main.css.map */
