<div class="title">
    <h1>Projects</h1>
</div>
<div class="description">
    <p>Here you can familiarize yourself with my work and perhaps discover something new for yourself. Don't get carried
        away too much <strong>:p</strong></p>
</div>
<div class="projects">
    <div class="project">
        <div class="infoLeft">
            <div class="title">
                <h1>This site</h1>
            </div>
            <div class="description">
                <p>
                    My personal portfolio site and my first indie project.
                    The following stack was used: Angular, SCSS, HTML5, TypeScript, JavaScript, Popper.js, AOS ...
                    Using my own design, no pre-made styles.
                </p>
            </div>
        </div>
        <div class="infoRight">
            <div class="image"></div>
            <div class="createDate">
                <p class="title">Create date: </p>
                <p class="value"> January 2022</p>
            </div>
        </div>
    </div>
</div>
