.position-item {
    position: absolute;
    top: 50%;
    background-color: var(--bc-border-default-color);
    min-height: 4px;
    transform: translateY(-50%);
    z-index: 20;
    transition: all .05s;

    &:before {
        content: '';
        position: absolute;
        left: 0;
        top: 50%;
        display: block;
        width: 15px;
        min-width: 15px;
        aspect-ratio: 1/1;
        border-radius: 50%;
        background-color: var(--bc-border-default-color);
        transform: translate(-50%, -50%);
        transition: all var(--bc-transition-duration-default);

        @media (max-width: 720px) {
            width: 10px;
            min-width: 10px;
        }
    }

    &:hover, &:focus-visible {
        background-color: var(--bc-border-hover-color);
        outline: none;
        cursor: pointer;

        &:before, &:after {
            background-color: var(--bc-border-hover-color);
            cursor: pointer;
        }
    }

    &.not-full-time {
        background: linear-gradient(to right, var(--bc-border-default-color) 80%, transparent 20%) repeat-x;
        background-size: 4px 4px;

        &:hover, &:focus-visible {
            background: linear-gradient(to right, var(--bc-border-hover-color) 80%, transparent 20%) repeat-x;
            background-size: 4px 4px;

            &:before {
                background-color: var(--bc-border-hover-color);
            }
        }
    }

    &.finished {
        &:after {
            content: '';
            position: absolute;
            right: 0;
            top: 50%;
            display: block;
            width: 2px;
            min-width: 2px;
            height: 15px;
            transform: translate(50%, -50%);
            transition: all var(--bc-transition-duration-default);
            background-color: var(--bc-border-default-color);

            @media (max-width: 720px) {
                height: 10px;
            }
        }

        &:hover:not(.not-full-time), &:focus-visible:not(.not-full-time) {
            background: var(--bc-border-hover-color);
            background-size: 4px 4px;
        }

        &:hover, &:focus-visible {
            &:after {
                background-color: var(--bc-border-hover-color);
            }
        }
    }

    &.current {
        &:after {
            content: '';
            position: absolute;
            right: 0;
            top: 50%;
            display: block;
            width: 0;
            height: 0;
            border-left: 8px solid var(--bc-border-default-color);
            border-top: 8px solid transparent;
            border-bottom: 8px solid transparent;
            vertical-align: middle;
            transform: translate(50%, -50%);
            transition: all var(--bc-transition-duration-default);
        }

        &:hover:not(.not-full-time), &:focus-visible:not(.not-full-time) {
            background: var(--bc-border-hover-color);
            background-size: 4px 4px;
        }

        &:hover, &:focus-visible {
            &:after {
                border-left-color: var(--bc-border-hover-color);
                background-color: transparent;
            }
        }
    }
}

.position-hover-box {
    position: absolute;
    top: -5px;
    right: 0;
    bottom: -5px;
    left: 0;
}
