<div
    class="position-item"
    [class.not-full-time]="!position().isFullTime"
    [class.finished]="!!position().endDate"
    [class.current]="!position().endDate"
    [style]="styles()"
    tabindex="0"
    (click)="onClick.emit($event)"
    (pointerenter)="onPointerenter.emit($event)"
    (pointerleave)="onPointerleave.emit($event)"
    (bcFocusVisible)="onFocusVisible.emit($event)"
    (focus)="onFocus.emit($event)"
    (blur)="onBlur.emit($event)"
    (keydown.enter)="onClick.emit($event)"
>
    <div class="position-hover-box"></div>
</div>
