.dynamic-modal-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2000;

    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(6px);
    background-color: var(--bc-bg-modals-wrapper-color);

    animation: fade-in  var(--bc-transition-duration-default) cubic-bezier(0.250, 0.460, 0.450, 0.940);

    &.closed {
        animation: fade-out var(--bc-transition-duration-default) cubic-bezier(0.250, 0.460, 0.450, 0.940);
    }

    .dynamic-modal {
        display: flex;
        flex-direction: column;
        gap: var(--bc-gap-24);
        width: 100%;
        max-width: min(calc(100% - 20px), var(--bc-page-container-max-width));
        height: auto;
        max-height: min(95%, 700px);
        background-color: var(--bc-bg-modals-color);
        border: 3px solid var(--bc-border-default-color);
        border-radius: var(--bc-border-radius-16);
        box-shadow: var(--bc-modals-box-shadow);
        overflow: auto;

        transition: width var(--bc-transition-duration-default);

        @media (max-width: 720px) {
            max-width: calc(100% - 4px);
        }

        &__body {
            display: flex;
            flex-direction: column;
            padding: var(--bc-padding-24) var(--bc-padding-24);
            height: auto;
            max-height: 100%;
            overflow: hidden;

            @media (max-width: 1040px) {
                padding: var(--bc-padding-24) var(--bc-padding-16);
            }
        }

        ng-template {
            overflow: auto;
        }

        &::-webkit-scrollbar {
            display: none;
            width: 0;
        }
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fade-out {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}
