<main class="main">
  <div class="title">
    <h1>Contact me</h1>
  </div>
  <div class="description">
    <p>Do you want to share your feedback, offer a job or just contact me? Go for it! <strong>:3</strong></p>
  </div>
  <div class="contacts">
    <div class="links">
      <div class="email">
        <h2>My Email</h2>
        <p>sstolbennikov@gmail.com</p>
      </div>
      <div class="instagram">
        <h2>My Instagram</h2>
        <p>www.instagram.com/sse.public/</p>
      </div>
      <div class="vk">
        <h2>My VK</h2>
        <p>vk.com/stas1996ilcha</p>
      </div>
      <div class="github">
        <h2>My Github</h2>
        <p>https://github.com/SSE-programmer</p>
      </div>
    </div>
  </div>
</main>
