<div class="title">
    <h1>Blog</h1>
</div>
<div class="description">
    <p>How about keeping up with the latest developments with me? <strong>^^</strong></p>
</div>
<div class="posts">
    <div class="post">
        <div class="infoLeft">
            <div class="title">
                <h1>Release</h1>
            </div>
            <div class="description">
                <p>It's time to publish my personal site. Please do not judge strictly - the site is published in a raw
                    form. Send me your comments please.</p>
            </div>
        </div>
        <div class="infoRight">
            <div class="image"></div>
            <div class="createDate">
                <p class="title">Publication date: </p>
                <br>
                <p class="value"> May 13, 2022</p>
            </div>
        </div>
    </div>
</div>
