:host {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: var(--bc-bg-primary-color);

    .header {
        display: flex;
        justify-content: space-between;
        flex: 1;
        max-width: var(--bc-page-container-max-width);

        @media (max-width: 720px) {
            flex-direction: column;
        }

        .links {
            @media (max-width: 720px) {
                gap: var(--bc-gap-4);
            }

            .links__item {
                text-transform: uppercase;

                .link {
                    @media (max-width: 720px) {
                        font-size: 18px;
                    }

                    &.active {
                        border-bottom: 1px dashed var(--bc-light-accent-color);
                    }
                }
            }
        }

        .settings-container {
            &__menu {
                position: absolute;
                top: calc(100% + var(--bc-gap-4));
                right: 0;
            }
        }
    }
}
