<header class="header bc-flex bc-gap-12 bc-flex-wrap bc-justify-between bc-items-center bc-bg-primary-color bc-pv-8 bc-ph-12">
    <a routerLink="home">
        <bcc-logo></bcc-logo>
    </a>

    <nav class="bc-flex bc-flex-wrap bc-justify-between">
        <ul class="links bc-flex bc-gap-16">
            @for (route of navigationRoutes; track $index) {
                <li class="links__item">
                    <a
                        class="link bc-pv-2 bc-ph-4 bc-font-patua bc-text-22 bc-light-accent-color"
                        [routerLink]="route.link"
                        routerLinkActive="active"
                    >
                        {{ route.title }}
                    </a>
                </li>
            }
        </ul>
    </nav>
</header>
