<header class="header bc-flex bc-gap-12 bc-flex-wrap bc-justify-between bc-items-center bc-w-full bc-pv-8 bc-ph-12">
    <a routerLink="home">
        <bc-logo class="bc-light-accent-color"></bc-logo>
    </a>

    <nav class="bc-flex bc-gap-12 bc-justify-between">
        <ul class="links bc-flex bc-gap-16">
            @for (route of navigationRoutes; track $index) {
                <li class="bc-flex bc-items-center bc-animation-zoom">
                    <a
                        class="link bc-pv-2 bc-ph-4 bc-font-patua-one bc-text-22 bc-light-accent-color"
                        [routerLink]="route.link"
                        routerLinkActive="active"
                    >
                        {{ route.title }}
                    </a>
                </li>
            }
        </ul>

        <div class="bc-flex bc-items-center">
            <bc-icon-settings
                class="bc-light-accent-color"
                role="button"
                (click)="toggleSettingsMenu()"
                (keyup.enter)="toggleSettingsMenu()"
                tabindex="0"
            ></bc-icon-settings>
        </div>
    </nav>
</header>
@if (showSettingsMenu) {
    <bc-settings-menu></bc-settings-menu>
}
