.bc-inline {
    display: inline;
}

.bc-block {
    display: block;
}

.bc-inline-block {
    display: inline-block;
}

.bc-flex {
    display: flex;
}

.bc-inline-flex {
    display: inline-flex;
}

.bc-grid {
    display: grid;
}

.bc-inline-grid {
    display: inline-grid;
}
