:host {
    display: flex;
    flex-direction: column;
    gap: var(--bc-gap-24);
    flex: 1;
}

.additional-media-container {
    overflow-x: auto;

    ::-webkit-scrollbar {
        display: none;
        width: 0;
    }
}

.media {
    max-width: 100%;
    object-fit: contain;
    cursor: pointer;

    &.main {
        max-height: 300px;
    }

    &.additional {
        height: 80px;
    }
}
