@let media = mediaSignal();

<div class="media-grid media-grid-{{Math.min(media.length, MAX_VISIBLE_MEDIA_COUNT)}} bc-flex bc-flex-col bc-gap-8 bc-items-center">
    @for (mediaItem of media.slice(0, MAX_VISIBLE_MEDIA_COUNT); track $index) {
        <div
            class="media-container media-container-{{$index}}"
            tabindex="0"
        >
            <img
                class="media"
                [src]="mediaItem.photoUrl"
                alt="Post`s media"
            >

            @if ($index + 1 === MAX_VISIBLE_MEDIA_COUNT && media.length > MAX_VISIBLE_MEDIA_COUNT) {
                <div class="additional-media-count-container bc-flex bc-justify-center bc-items-center">
                    <span class="count bc-flex bc-justify-center bc-items-center bc-p-12 bc-default-border bc-font-patua-one bc-text-26">+ {{ media.length - MAX_VISIBLE_MEDIA_COUNT }}</span>
                </div>
            }
        </div>
    }
</div>
