:host {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    max-height: 100vh;
    overflow-y: hidden;

    @media (max-width: 720px) {
        padding-left: 0;
        padding-right: 0;
        padding-bottom: 0;
    }

    .page-container {
        flex: 1;
        overflow: auto;
    }
}
