.footer {
    display: flex;
    background-color: var(--bc-light-primary-color);
    font-family: "Patua One", sans-serif;

    padding: var(--bc-padding-8) var(--bc-padding-12);

    .proverb {
        display: flex;
        flex-wrap: wrap;
        gap: var(--bc-gap-8);
        align-items: center;

        color: var(--bc-text-light-color);

        .author {
            font-size: smaller;
            font-style: italic;
            text-wrap: nowrap;
        }
    }
}
