@let post = postSignal();

<div class="post bc-flex bc-flex-col bc-gap-24">
    <div class="bc-flex bc-gap-4 bc-items-center">
        <span class="bc-font-patua-one bc-text-16">{{ post.date | date: 'dd MMM yyyy - HH:mm' | uppercase }}</span>
    </div>

    <div class="post bc-flex bc-flex-col bc-gap-12">
        @let media = post.media;

        @if (media && media.length) {
            <bc-media-grid [media]="media"></bc-media-grid>
        }

        <span class="bc-text-justify">{{ post.text }}</span>
    </div>
</div>
