<div class="bc-flex bc-gap-4">
    <div class="company-column bc-flex bc-flex-col">
        @for (job of jobExperience(); track job.company) {
            <h4
                class="company-name bc-h bc-flex bc-items-center"
                [style.padding-top]="YEAR_CELL_VERTICAL_PADDING"
                [style.padding-bottom]="YEAR_CELL_VERTICAL_PADDING"
            >
                {{ job.company }}
            </h4>
        }
        <h4
            class="company-name bc-h bc-flex bc-items-center"
            [style.padding-top]="YEAR_CELL_VERTICAL_PADDING"
            [style.padding-bottom]="YEAR_CELL_VERTICAL_PADDING"
            [style.visibility]="'hidden'"
        > &nbsp;</h4>
    </div>
    <div class="years-column bc-flex bc-flex-col bc-flex-1">
        @for (job of jobExperience(); track job.company; let lastCompany = $last) {
            <div class="year-row bc-flex bc-items-center">
                @for (year of yearsList(); track year;  let yearIndex = $index) {
                    <div
                        class="year-cell"
                        [style.min-width]="yearIndex ? YEAR_CELL_MIN_WIDTH : FIRST_YEAR_LEFT_MARGIN_PADDING"
                        [style.padding-top]="YEAR_CELL_VERTICAL_PADDING"
                        [style.padding-bottom]="YEAR_CELL_VERTICAL_PADDING"
                    >
                        @if (lastCompany && yearIndex) {
                            <span class="year-label">{{ year }}</span>
                        }
                    </div>
                }
            </div>
        }
    </div>
</div>
