<div class="bc-flex bc-gap-4">
    <div class="company-column bc-flex bc-flex-col">
        @for (job of jobExperience(); track job.company) {
            <span
                class="company-name bc-flex bc-items-center bc-font-patua-one"
                [style.padding-top]="YEAR_CELL_VERTICAL_PADDING + 'px'"
                [style.padding-bottom]="YEAR_CELL_VERTICAL_PADDING + 'px'"
            >
                {{ job.company }}
            </span>
        }
        <h4
            class="company-name bc-h bc-flex bc-items-center"
            [style.padding-top]="YEAR_CELL_VERTICAL_PADDING + 'px'"
            [style.padding-bottom]="YEAR_CELL_VERTICAL_PADDING + 'px'"
            [style.visibility]="'hidden'"
        >&nbsp;</h4>
    </div>
    @if (yearsList()) {
        <div class="years-column-container">
            <div class="years-column bc-flex bc-flex-col bc-flex-1">
                @for (job of jobExperience(); track job.company; let lastCompany = $last) {
                    <div class="year-row bc-flex bc-items-center">
                        @for (position of job.positions; track $index; let positionIndex = $index;) {
                            <bc-position-item
                                [position]="position"
                                [yearCellWidth]="yearCellAnchorWidth()"
                                [leftMargin]="yearCellLeftMarginWidth()"
                                [firstYear]="yearsList()[0]"
                                [lastYear]="yearsList()[yearsList().length - 1]"
                                [index]="positionIndex"
                                (onClick)="openPositionModal(job.company, position)"
                                (onPointerenter)="showPositionTooltip($event, position)"
                                (onPointerleave)="hidePositionTooltip()"
                                (onFocusVisible)="showPositionTooltip($event, position)"
                                (onBlur)="hidePositionTooltip()"
                            ></bc-position-item>
                        }

                        @for (year of yearsList(); track year; let yearIndex = $index; let firstYear = $first) {
                            <div
                                class="year-cell"
                                [class.year-cell-left-margin]="firstYear"
                                [class.year-cell-anchor]="!firstYear"
                                [style.min-width]="firstYear ? (FIRST_YEAR_LEFT_MARGIN_PADDING + 'px') : (YEAR_CELL_MIN_WIDTH + 'px')"
                                [style.max-width]="firstYear ? (FIRST_YEAR_LEFT_MARGIN_PADDING + 'px') : null"
                                [style.padding-top]="YEAR_CELL_VERTICAL_PADDING + 'px'"
                                [style.padding-bottom]="YEAR_CELL_VERTICAL_PADDING + 'px'"
                            >
                                @if (lastCompany && yearIndex) {
                                    <span class="year-label bc-font-patua-one bc-text-16">{{ year }}</span>
                                }
                            </div>
                        }
                    </div>
                }
            </div>
        </div>
    } @else {
        Positions not found
    }
</div>
