:host {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    max-height: 100vh;
    overflow-y: hidden;

    .page-container {
        position: relative;
        overflow: auto;
        z-index: 0;

        @media (max-width: 720px) {
            padding: var(--bc-padding-8);
        }
    }
}
