:host {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100dvh;
    max-height: 100dvh;
    overflow-y: hidden;

    .page-container {
        position: relative;
        max-width: var(--bc-page-container-max-width);
        overflow-x: hidden;
        z-index: 0;

        @media (max-width: 720px) {
            padding: var(--bc-padding-8);
        }
    }
}
