:host {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    max-height: 100vh;
    overflow-y: hidden;

    .page-container {
        display: flex;
        flex-direction: column;
        gap: var(--bc-gap-24);
        flex: 1;
        padding: var(--bc-padding-24) var(--bc-padding-16);
        overflow: auto;

        @media (max-width: 720px) {
            padding: var(--bc-padding-8);
        }
    }
}
