@import "../modules/styles/header";
@import "../modules/styles/footer";
@import "../modules/styles/global";

.main {
  .projects {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 10px auto;

    .project {
      display: flex;
      flex-direction: row;
      border: $borderColor 2px dashed;
      border-bottom-style: dotted;
      border-top-style: dotted;
      padding: 10px 20px;
      width: 100%;
      margin: 10px auto;
      transition: 0.5s;

      .infoLeft, .infoRight {
        margin: 10px 30px;
      }

      .infoLeft {
        .description {
          text-indent: 20px;
        }
      }

      .infoRight {
        border-radius: 5px;


        .image {
          width: 220px;
          height: 220px;
          overflow: hidden;
          background-image: url("../resources/images/projects/sse-programmer.jpg");
          background-size: 100% 100%;
          border: $borderColor 2px dotted;
          border-radius: 10px;
          margin: 30px auto 15px;
          transition: 0.5s;
        }

        .createDate {
          text-align: center;

          .title {
            font-weight: bold;
            display: inline;
          }

          .value {
            display: inline;
          }
        }
      }
    }

    .project:hover {
      box-shadow: $shadowColor 0 0 10px inset;
      background-color: $cardBackgroundColor;
      border-left-style: solid;
      border-right-style: solid;
      border-top-style: dashed;
      border-bottom-style: dashed;

      .image {
        box-shadow: $shadowColor 0 0 10px inset;
        border-style: dashed;
      }
    }

    .project:first-child {
      border-top-style: dashed;
      border-top-left-radius: $cardBorderRadius;
      border-top-right-radius: $cardBorderRadius;

      &:hover {
        border-top-style: solid;
      }
    }

    .project:last-child {
      border-bottom-style: dashed;
      border-bottom-left-radius: $cardBorderRadius;
      border-bottom-right-radius: $cardBorderRadius;

      &:hover {
        border-bottom-style: solid;
      }
    }
  }
}

@media (max-width: 1040px) {
  .main {
    .projects {
      .project {
        flex-direction: column;

        .infoLeft {
          .title {
            text-align: center;
          }
        }
      }
    }
  }
}
